body
{
    background-color: rgb(63, 88, 157);
}

.container {
    width: 700px;
    height: auto;
    margin: auto;
    background: white;
    position: center;
    top: 50%;
    left: 50%;
    border-radius: 25px;
}

.commbtn {
    background-color: #4CAF50;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
    border-radius: 10px;
}

.likebtn {
    position: relative;
    right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    resize: none;
}

.comment {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 4px;
    display: inline-block;
    border: none;
    background: #efefef;
    border-radius: 10px;
}

.container h1{
    text-align: center;
    padding-top: 15px;
}

a {
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.name {
    font-weight: bolder;
    text-decoration: underline;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.message {
    font-size: 20px;
    font-weight: bold;
}









* {
    box-sizing: border-box;
}

/* Add padding to containers */




/* Full-width input fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 25px;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=submit]{ 
    width: 50%;
    height: 50px;
    background: #4CAF50;
    border-radius: 25px;
    font-size: 18px;
    color: white;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */

.container form{
    padding: 0 40px;
    box-sizing: border-box;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
    border-radius: 25px;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}